.head-text{
    padding: 10px 0;
    font-size: x-large;

}
.navbar,.navbar-brand,.head-text{
    background-color: #D2691E !important;
}
@media screen and (max-width: 330px){
    #logo{
        width: 80%;
        height: 100%;
    }
}
#top-txt{
    text-align: center ;
    align-items: center;
    margin-top: 40px;
}
.nav-link,#navbarDropdown{
    font-weight: bold;
    color: white;
    margin-right: 10px;
    text-align: center;
    
}
#home{
    background-color: black;
    
}
#navbarDropdown:hover{
    background-color: black;
    margin-right: 10px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.main{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.Cash,.free-shipping,.Support{
    margin-top: 10px;
    display: flex;
    width: 350px;
    height: 100px;
    background-color: #ffff;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
}
.fa-clock-o,.fa-truck,.fa-headphones{
    font-size: 50px !important;
    color: #D2691E !important;
    margin-right: 10px;
}
.kurtaShalwar{
    margin-top: 30px;
}
.heading{
    color: #D2691E;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}
.heading > h1 {
    text-shadow: 2px 2px 4px black ;
}
#cardk-img{
    height: 350px;
}
#cardk,#cardNA{
    margin-bottom: 50px;
}
@media screen and (max-width: 770px){
    .cardk{
        width: 100%;
        height: auto;
    }
    .cardk-img{
        /* width: 100%; */
        height: 50%;
    }
}
.btn-primary{
    background-color: #D2691E ;
    width: 100%;
    color: black;
    font-weight: bold;
    border: none;
}
.btn-primary:hover{
    background-color: black;
    color: white;
}
.card-text{
    font-weight: bold;
    color: #D2691E;
}
.footr{
    margin-top: 60px;
    background-color: black;
    height: 250px;
    color: #ffff;
    font-weight: bold;
    line-height: 1.7em;
}
@media screen and (max-width: 1000px )
{
    .footr{
        width: auto;
        height: auto;

    }
}
.footr2{
    background-color: #D2691E;
    color: #ffff;
}
#copyy{
    margin-top: 5px;
}
#f-icon{
    color: #ffff;
    cursor: pointer;
}